.card {
    align-items: center;
    flex: 0 0 auto;
}

.card-image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.star {
    height: 14px;
    margin-right: 3px;
    padding-bottom: 2px;
}

.card-stats-gray {
    color: #918e9b;
}

.card-info {
    display: flex;
    align-items: center;
}

.card-price-details {
    padding-bottom: 40px;
}



.status {
    position: absolute;
    top: 12px;
    left: 16px;
    background-color: white;
    padding: 1px 20px;
    border-radius: 25px;
    font-weight: bold;
    color: #FF5A5F;
    font-family: Nunito Sans, sans-serif;
}