.card {
    margin: 0px;
    line-height: 30px;
    position: relative;
}

.card-image {
    width: 250px;
    border-radius: 9px;
}

.star {
    width: 14px;
    margin-right: 3px;
}

.card-stats-gray {
    color: #918e9b;
}

.card-info {
    line-height: 12px;
}

.status {
    position: absolute;
    top: 12px;
    left: 16px;
    background-color: white;
    padding: 1px 20px;
    border-radius: 25px;
    font-weight: bold;
    color: #FF5A5F;
    font-family: Nunito Sans, sans-serif;
}