/*.footer {*/
/*    background-color: #161619;*/
/*    width: 300px;*/
/*    padding: 10px 25px 10px 25px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 25px;*/
/*    font-size: 25px;*/
/*}*/

/*.footer > a:hover {*/
/*    color: #ffffff;*/
/*    opacity: 80%;*/
/*}*/

.text-center {
    margin-top: 20px;
}

.m-1 {
    background-color: #FF5A5F;
    color: seagreen;
}


